
<div data-ng-app="MainApp" data-ng-controller="MainCtrl" data-ng-cloak>
	<button class="waves-effect waves-light btn margen-arriba right" id="btn-categorias" data-activates="nav-categorias">
		{{categoria.nombre || 'Categorías'}}
	</button>
	<div class="ui-view-container">
		<div data-ui-view ></div>
	</div>

	<ul class="side-nav" id="nav-categorias">
		<li><h4>Categorias</h4>
			<li data-ng-repeat="categoria in categorias">
				<a data-ui-sref="categoria({id: {{categoria.id}} })">{{categoria.nombre}}</a>
			</li>
		</li>
	</ul>
</div>

<div id="modal_votado" class="modal">
	<div class="modal-content">
		<h4>Gracias por votar</h4>
		<p>Este texto esta de relleno por si se quiere usar para algo</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
	</div>
</div>

<script type="text/javascript">
$( document ).ready(function() {
	$("#btn-categorias").sideNav({closeOnClick: true, edge: 'right'});
});
</script>