/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.margen-arriba{
	margin-top: 20px;
}

.ui-view-container {
  position: relative;
  height: 65px;
}

[data-ui-view].ng-enter, [data-ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[data-ui-view].ng-enter {
  opacity: 0;
  left: 1000px;
}

[data-ui-view].ng-enter-active {
  opacity: 1;
  left: 0;
}

[data-ui-view].ng-leave {
  opacity: 1;
  left: 0;
}

[data-ui-view].ng-leave-active {
  opacity: 0;
  left:-1000px;
}