<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @categoria.nombre %>
</p>

<%= link_to 'Edit', edit_admin_categoria_path(@categoria) %> |
<%= link_to 'Back', admin_categorias_path %>
