<!DOCTYPE html>
<html>
<head>
  <title>Lo Mejor de lo Mejor</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css"></link>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular-resource.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular-animate.min.js"></script>

  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body class="green lighten-5">
  <nav>
    <div class="nav-wrapper green">
    	<div class="container">
    		<a href="#" class="brand-logo center">Lo Mejor de lo Mejor</a>
			<ul class="right">
				
			</ul>
	    </div>
    </div>
  </nav>
<div class="container">      
	<%= yield %>
</div>

</body>
</html>
